<header>
    <div class="logo-container">
        <a routerLink="/home" class="logo-link">
            <img src="images/logo-uniride.png" alt="Logo UniRide" class="logo-img">
            <span class="brand-name">UNIRIDE</span>
        </a>
    </div>
    <nav class="nav-links">
        <a routerLink="/guia" routerLinkActive="active-link" class="link">Guía UniRide</a>
        <a routerLink="/nosotros" routerLinkActive="active-link" class="link">Nosotros</a>

        <div class="auth-buttons">
            <a routerLink="/auth/login" class="btn-login">Iniciar Sesión</a>
            <a routerLink="/auth/register" class="btn-register">Registrarse</a>
        </div>
    </nav>
</header>
