<nav class="navbar">

  <div class="brand-area">
    <div class="red-logo-background">
      <a routerLink="/home" class="logo-link">
            <img src="images/logo-uniride.png" alt="Logo UniRide" class="logo-img">
          </a>
    </div>

    <div class="brand-text-container">
      <a routerLink="/home" class="brand-name">UNIRIDE</a>
      <span class="role-label">{{ authService.currentUser()?.rol }}</span>
    </div>
  </div>

  <div class="icons-area">

    @if (authService.isConductor) {
      <a routerLink="/crear-viaje" routerLinkActive="active" title="Publicar Viaje">
        <i class="fas fa-car"></i>
      </a>
    } @else {
      <a routerLink="/buscar-viaje" routerLinkActive="active" title="Buscar Auto">
        <i class="fas fa-car"></i>
      </a>
    }

    <a routerLink="/perfil" routerLinkActive="active" title="Mi Perfil">
      <i class="fas fa-user"></i>
    </a>

    <a routerLink="/home" title="Explorar">
      <i class="fas fa-search"></i>
    </a>

    <a routerLink="/notificaciones" routerLinkActive="active" title="Notificaciones">
      <i class="fas fa-bell"></i>
    </a>

    <button (click)="logout()" class="text-logout" title="Salir">
      <i class="fas fa-power-off"></i>
    </button>

  </div>
</nav>
