<div class="landing-container">

  <section class="hero">
    <div class="hero-content">
      <h1>Tu viaje a la U,<br>seguro y compartido.</h1>
      <p>Únete a la comunidad de movilidad exclusiva universitaria. Conecta con compañeros, reduce costos y llega seguro a clases con UniRide.</p>
      <a routerLink="/auth/login" class="cta-button">Comenzar servicio</a>
    </div>
    <div class="hero-visual">
      <div class="app-card">
          <div class="image-container">
            <img src="images/app-preview.png" alt="Vista previa de la App" class="hero-img">
          </div>
      </div>
    </div>
  </section>

  <section class="features">
    <h2 class="section-title">Beneficios UNIRIDE</h2>
    <div class="features-grid">
      <div class="feature-card">
        <i class="fas fa-user-check"></i>
        <h3>Comunidad Exclusiva</h3>
        <p>Sin desconocidos. Viajas únicamente con estudiantes verificados.</p>
      </div>
      <div class="feature-card">
        <i class="fas fa-wallet"></i>
        <h3>Ahorro Inteligente</h3>
        <p>Tarifas justas pensadas para el bolsillo del estudiante.</p>
      </div>
      <div class="feature-card">
        <i class="fas fa-leaf"></i>
        <h3>Eco-Amigable</h3>
        <p>Reducimos la huella de carbono compartiendo vehículo.</p>
      </div>
    </div>
  </section>

</div>
