
/* Importar fuente Roboto y FontAwesome */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

:root {
    --primary-red: #D50100;
    --dark-red: #b00000;
    --bg-gray: #BFBFBF;
    --card-white: #FFFFFF;
    --text-dark: #333333;
    --text-muted: #666666;
    --text-white: #FFFFFF;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    background-color: var(--bg-gray);
    color: var(--text-dark);
}

h1, h2, h3, p { margin: 0; }
a { text-decoration: none; }
